.ul{
    display: flex;
    gap: 50px
}

.ul li{
    list-style: none;
    padding: .5em 0;
}

.liActive{
    box-sizing: border-box;
    border-right: 6px solid var(--accent);
}

@media(min-width: 650px){

    .ul li{
        padding: 2em 0;
    }

    .liActive{
        border-right: none;
        border-bottom: 4px solid var(--accent);
        padding: 2em 0;
    }
}