.menu{
    width: 100%;
    padding: 2em 0 2em 4em;
    position: absolute;
    top: 10px;
}

.menu div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    background-color: rgba(85, 85, 85, 0.39);
    backdrop-filter: blur(5px);
    padding: 2em 0 2em 9em;
}