.menu{
    width: 100%;
    padding: 2em 0 2em 4em;
    position: absolute;
    top: 10px;
}

.menu div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    width: 660px;
    position: absolute;
    left: 9.5em;
    z-index: 4;
    
    border-bottom: 1px solid var(--accent);
}

.nav{
    background-color: rgba(85, 85, 85, 0.39);
    backdrop-filter: blur(5px);
    padding: 2em 0 2em 9em;
}