.menu{
    width: 100%;
    padding: 2em 0 2em 1.5em;
    position: absolute;
    top: 10px;
}

.menu div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line{
    display: none;
}

@media (min-width: 1400px){
    .line{
        display: block;
        width: 42%;
        position: absolute;
        left: 9.5em;
        z-index: 4;
        
        border-bottom: 1px solid var(--accent);
    }

    .logo{
        margin-left: 30px;
    }
}