*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #0b0d17;
    --secondary: #d0d6f9;
    --accent: #ffffff;

    --font-primary: 'Bellefair', serif;
    
    font-family: var(--font-primary);
}