.button{
    box-sizing: border-box;
    background-color: transparent;
    color: var(--accent);
    border: none;
    padding: 10px;
    font-size: 18px;
}

.button:hover{
    border-bottom: 1px solid var(--accent);
    box-sizing: border-box;
}

.buttonActive{
    border-bottom: 2px solid
    var(--accent);
    box-sizing: border-box;
}