.link{
    color: var(--accent);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-primary);
    color: var(--accent);
    width: 100%;
}

@media(min-width: 700px){
    .link{
        font-size: 15px;
    }
}

@media (min-width: 1400px){
    .link{
        font-size: 18px;
    }
    
    .link:hover{
        border-bottom: 3px solid gray;
        padding-bottom: 30px;
    }
}


